.actTestEditor-style {
    width: 100%;
    height: 100%;
    flex: 1 1 auto;
    box-sizing: border-box;
    padding: 8px;
    background-color: #f2ffe5;
    overflow: auto;
}

/* #region:---------- Level 0 table (top-level):
 * row 1: Test name: /test combo/; Solution: (toggle)
 * row 2: Level 1 table
 */
.actTestEdt-lvl0-table {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
}
.actTestEdt-lvl0-table td { border: 1px solid #000; padding: 4px; }
.actTestEdt-lvl0-table tr:nth-child(1) { height: 10px; }
.actTestEdt-lvl0-table tr:nth-child(2) td { height: 100%; vertical-align: top; }
/* #endregion:-------- Level 0 table (top-level): */

/* #region:-------- Level 1 (second row in top-level table):
 * column 1: Level 2 table
 * column 2: Question |div|
 */
.actTestEdt-lvl1-table {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
}
.actTestEdt-lvl1-table td { border: none; }
.actTestEdt-lvl1-table td:nth-child(1) { width: 200px; }
.actTestEdt-lvl1-table td:nth-child(2) { padding: 10px; }
.actTestEdt-lvl1-table div {
    overflow: auto;
    border: 1px solid #000;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}
/* #endregion:----- Level 1 (second row in top-level table): */

/* #region:-------- Level 2 (first column in level 1 table)
 * row 1: Questions [check-all], /filter/
 * row 2: {Questions list}
 */
.actTestEdt-lvl2-table {
    height: 100%;
    width: 100%;
    min-width: 200px;
    border-collapse: collapse;
}
.actTestEdt-lvl2-table td { border: none; }
.actTestEdt-lvl2-table tr:nth-child(1) td { height: 20px; display: flex; align-items: center; gap: 2px; }
.actTestEdt-lvl2-table tr:nth-child(2) td { height: 100%; }
.actTestEdt-lvl2-table ul {
    background-color: #ffffff;
    border: 1px solid #000;
    height: 100%; 
    overflow-y: auto;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
/* #endregion:----- Level 2 (first column in level 1 table) */

.actTestEdt_tbl_div {
  font-family: Consolas;
  border-collapse: collapse;
  vertical-align: top;
  table-layout: auto;
  width: 100%;
}
.actTestEdt_tbl_div td { border: none; padding: 0 !important; }
.actTestEdt_tbl_div td:first-child { width: 1px; white-space: nowrap; } 
.actTestEdt_tbl_div td:last-child { width: 99%; }

.actTestEdt_tbl_mcqChoice {
  font-family: Consolas;
  border-collapse: collapse;
  vertical-align: top;
  table-layout: auto;
  width: 100%;
}
.actTestEdt_tbl_mcqChoice td { border: none; padding: 0 !important; }
.actTestEdt_tbl_mcqChoice td:first-child { width: 1px; white-space: nowrap; } 
.actTestEdt_tbl_mcqChoice td:last-child { width: 99%; }

.actTestEdt_tbl_mcqAnswer {
  background: #d1f1fd;
  border: 2px solid #0059fd !important;
}

/*-------- Styles for the "Solution" toggle --------*/
.actTestEdt-flex-row {
  border: none;
  border-collapse: collapse;
  width: 100%;
}
.actTestEdt-flex-row td:nth-child(1) { border: none; width:320px; }
.actTestEdt-flex-row td:nth-child(2) { border: none; color: rgb(190, 22, 22); font-weight: bolder; }
.actTestEdt-flex-row td:nth-child(3) { border: none; width: 60px; text-align: right; }
.actTestEdt-flex-row td:nth-child(4) { border: none; width: 40px; }

.actTestEdt_lblSolution {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}
.actTestEdt_lblSolution input { opacity: 0; width: 0; height: 0; }

.actTestEdt_spnSolution {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 20px;
}
.actTestEdt_spnSolution:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}
input:checked + .actTestEdt_spnSolution { background-color: #2196F3; }
input:checked + .actTestEdt_spnSolution:before { transform: translateX(16px); }

