@charset "ISO-8859-1";

.actUserMgmt-style {
    background-color: #fcdbb5;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex: 1 1 auto;
    box-sizing: border-box;
    padding: 8px;
    overflow: auto;
}

.actUserMgmt-underconstruction {
    display: block;
    max-width: 50%;
    max-height: 50%;
    margin: 0 auto;
}

