@charset "ISO-8859-1";

body {
    font-family: Helvetica, sans-serif;

    .title-table {
        /* border: 1px solid black; */
        border: none;
        border-collapse: collapse;
        width: 100%;

        td:nth-child(1) {
            width: 60%;
            text-align: left;
        }

        td:nth-child(2) {
            width: 35%;
            text-align: right;
            padding-right: 4px;
        }

        td:nth-child(3) {
            width: 5%;
            text-align: right;
        }

        .title-highlight {
            font-weight: 400;
            font-size: 20px;
            color: #0D1DE0;
        }

        .title-name {
            font-weight: 400;
            font-size: 20px;
            color: #41a308;
        }

        .title-sid {
            font-weight: 200;
            font-size: 12px;
            color: #a0a0a0;
        }
    }
}