@charset "ISO-8859-1";

body {
    font-family: Helvetica, sans-serif;
    background-color: #f1ffef;
}

.title-table {
    /* border: 1px solid black; */
    border: none;
    border-collapse: collapse;
    width: 100%;
}
.title-table td:nth-child(1) { width: 60%; text-align: left; }
.title-table td:nth-child(2) { width: 35%; text-align: right; }
.title-table td:nth-child(3) { width: 5%; text-align: right; }

.title-table .title-highlight {
    font-weight: 400;
    font-size: 20px;
    color: #0D1DE0;
}
    
.login-table {
    /* border: 1px solid black; */
    border: none;
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    input[type="text"],
    input[type="password"] { width: 200px; height: 20px; }
    input[type="submit"] { height: 20px; width: 100px; }
}
.login-table td:nth-child(1) { width: 110px; text-align: right; }
.login-table td:nth-child(2) { text-align: left; }
.login-table input[type="text"], .login-table input[type="password"] { width: 200px; height: 20px; }
.login-table input[type="submit"] { height: 20px; width: 100px; }

.err-div {
    color: red
}
